[Desktop Entry]
Version=1.1
Type=Application
Name=Loot
Comment=Manage openable/closeable resources
Categories=Utility
Icon=loot
Exec=loot
StartupNotify=false
